@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Oswald&family=Varela+Round&display=swap');
button{
    cursor:pointer;
}
body{
    margin: auto;
}
/*header style defintion*/
.header{
    background-color: #fccc34;
    display: flex;
    width:100%;
    flex-direction: row;
}
.site-title{
    font-family: 'Oswald', sans-serif;
    width:20%;
    margin-left: 2%;
    cursor: pointer;
    font-size: 2rem;
}
.site-title:hover{
    cursor: pointer;
}
.nav-options{
    width:25%;
    position: relative;
    margin-left: 45%;
}
.nav-btns-holder{
    width:100%;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom:0;
}
.nav-btns{
    font-family: 'Fira Sans', sans-serif;
    border: none;
    margin-left: 5%;
    background-color: antiquewhite;
    width:30%;
    min-height:30%;
    max-height: 30%;
    overflow: hidden;
    font-size: 1rem;
}
.nav-btns:hover{
    cursor: pointer;
}
#loginStatus{
    margin-left: 2%;
    width:5%
}
.loggedin{
    margin-top: 20%;
    width:75%;
    height: 65%;
}
.logincontainer{
    justify-content:center;
    margin-top: 50%;
    margin-left: 10%;
    width:100%;
    border: 1px, solid;
    height: 100%;
}
.loggedout{
    font-family: 'Fira Sans', sans-serif;
    width:20%;
    text-decoration: none;
    color: black;
}
.loggedout :hover{
    text-decoration: underline, black;
}
/*landing page content styling*/
#landing-content-holder{
    width:100vw;
    background-image: url("./media/backgrounds/landing_page_bg.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    height: 100vh;
}
#landing-page{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    -ms-transform: translateY(20%);
    transform: translateY(20%);
}
#landing-search-text{
    
    background-color: antiquewhite;
    display: flex;
    width: 80%;
    flex-direction: row;
    padding: 1%;
    border-radius: 20px;
}
.landing-text-input{
    font-family: 'Varela Round', sans-serif;
    background-color: antiquewhite;
    height:10%;
    width:30%;
    border-top:none;
    border-right: none;
    border-bottom: none; 
    border-left: 2px, black;
    left: -1%;
    padding: 1%;
    font-size: 24px;;
}
#landing-search-button{
    position: absolute;
    left:87%;
}
* :focus{
    outline: none;
}
#landing-text-address{
    width:60%;
    border-left: none;
}
#landing-search-options{
    width:60%;
    display:flex;
    flex-direction: row;
    margin-top: 2%;
}
.landing-select-option{
    font-family: 'Varela Round', sans-serif;
    margin-left: 2%;
    width:40%;
    height:50px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
}
#landing-search-range{
    display: flex;
    flex-direction: row;
    margin-top:2%;
}
.landing-range-options{
    font-family: 'Varela Round', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    margin-left: 2%;
    padding: 3%;
    border-radius: 20px;
}
#landing-sell-button{
    font-family: 'Fira Sans', sans-serif;
    margin-top: 15%;
    font-size: 48px;
    padding: .5%;
    background-color: #fccc34;
    color: black;
    border-radius: 20px;
    border: none;
}
.numberInput{
    border-radius: 10px;
    border: 1px solid;
}
/*contact us page styling*/
#ContactUsPage{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;
}
.contact-card{
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #fccc34;
    align-items: center;
    padding: 3%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 100%;
}
.contact-card-image{
    width: 80%;
    height: 60%;
}
.contact-card-text2{
    text-decoration: underline;
}

/*Add listing page styling*/
label{
    font-size: 24px;
    font-weight: bold;
}
#AddListingBody{
    font-family: 'Fira Sans', sans-serif;
    display:flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    border-radius: 30px;
    align-items: center;
    width: 70%;
    background-color: antiquewhite;
}
.al-section{
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    flex-direction: column;
    width: 80%;
}
#al-main-select{
    align-items: center;
    display:flex;
    flex-direction: column;
}

.addListing-text-input-r{
    float: right;
    margin-left:auto; 
}
.addListing-text-input-l{
    float: left;

}
.al-label{
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin-right: 1%;   
}
.al-input{
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #fccc34;
}
.al-input :focus{
    outline: none;
}
.al-select-option{
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    text-align: center;
}
.checkboxInput{
    margin-left: 2%;
    font-size: 20px;
}
.checkboxLabel{
    font-family: 'Varela Round', sans-serif;
    font-weight: normal;
    font-size: 20px
}
#al-submitButton{
    font-family: 'Fira Sans', sans-serif;
    margin: 5%;
    padding:1%;
    font-size: 20px;
    border: none;
    background-color: #fccc34;
    border-radius: 20px;
}
#al-submitButton :hover{
    background-color: antiquewhite;
}
/*Account information page style*/
#navigation{
    display: flex;
    flex-direction: column;
    width: 20%;
    float: left;
}
.info-page{
    float: right;
    width: 80%;
}
.info-nav-btns{
    font-family: 'Fira Sans', sans-serif;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    font-size: 24px;
    text-align: left;
    border: none;
    background-color: antiquewhite;
}
.Info-page-header{
    font-family: 'Fira Sans', sans-serif;
    font-size: 48px;
    margin-left: 5%;
    margin-top: 3%;
}
.listingCard{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: antiquewhite;
}
.listingImage{
    width: 300px;
    height: 200px;
}
.listingDetails{
    font-family: 'Varela Round', sans-serif;
    display:flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 2%;
}
.lsitingAddress{
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
}
.listingDescription{
    font-family: 'Varela Round', sans-serif;
    margin-top: 2%;
    margin-right: 2%;
}
.contactDetails{
    display: flex;
    flex-direction: row;
}
.c-phone{
    font-weight: bold;
    margin-left: 5%;
    margin-top: 1%;
}
.userDetail{
    margin-top: 5%;
    margin-left: 7%;
}
.detailTitle{
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
    font-weight: normal;
}
.actualdetail{
    font-family: 'Varela Round', sans-serif;
    margin-left: 2%;
    font-weight: normal;
    font-size: 24px;
}
.change-link{
    font-family: 'Varela Round', sans-serif;
    margin-left: 10%;
    color: blue;
    text-decoration: underline;
}
/*home information page styling*/

#m-page{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    background-color: black;
    /*-ms-transform: translateY(20%);
    transform: translateY(20%);*/
}
#m-search-text{
    
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    padding: 1%;
    border-radius: 20px;
}
.m-text-input{
    font-family: 'Varela Round', sans-serif;
    background-color: antiquewhite;
    width: 30%;
    height:10%;
    border-top:none;
    border-right: none;
    border-bottom: none; 
    border-left: 2px, black;
    left: -1%;
    padding: .5%;
    font-size: 24px;;
}

#m-text-address{
    width:60%;
    border-left: none;
}

#m-search-options{
    width: 60%;
    display:flex;
    flex-direction: row;
}
.m-select-option{
    font-family: 'Varela Round', sans-serif;
    margin-left: 2%;
    width:60%;
    height:80%;
    text-align: center;
    font-size: 24px;
    border-radius: 10px;
}
#m-search-range{
    display: flex;
    flex-direction: row;
    height:80%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left:1%;
}
.m-range-options{
    font-family: 'Varela Round', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    margin-left: 2%;
    padding: 3%;
    border-radius: 20px;
}
#ActualPage{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
}
#main-panel{
    display: flex;
    flex-direction: column;
    float: leftt;
    margin-left: 10%;
    width:60%;
}
#side-panel{
    display: flex;
    flex-direction: column;
    float: right;
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 10%;
    width:17%;
}
.side-panel-btn{
    margin-top: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 24px;
    font-family: 'Fira Sans', sans-serif;
    background-color: #fccc34;
    border: none;
}
.houseInfo{
    background-color: antiquewhite;
    margin-top: 5%;
}
.homeInfo-l{
    font-family: 'Varela Round', sans-serif;
    float: left;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.homeInfo-r{
    font-family: 'Varela Round', sans-serif;
    float: right;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.HouseDescription{
    margin-left: 12%;
    margin-right: 10%;
    margin-bottom: 3%;
}
/*search page styling*/
.column
{
  float: left;
  width: 31%;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#search-bar{ width: 100% }

.sentence
{
  font-family: 'Varela Round', sans-serif;
  color: black;
}

/*search icaon styling*/
.msb{
    font-size: 24px;
    background: transparent;
    border: none;
}
.bsb{
    font-size: 2rem;
    background: transparent;
    border: none;
}
#texts
{
font-family: 'Varela Round', sans-serif;
padding: 5px;
display: block;
line-height: 1.8;
margin-left: auto;
margin-right: auto;
}

