@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Oswald&family=Varela+Round&display=swap');
body{
    margin: auto;
}
/*header style defintion*/
.header{
    background-color: #fccc34;
    display: flex;
    flex-direction: row;
}
.site-title{
    font-family: 'Oswald', sans-serif;
    margin-left: 2%;
    cursor: pointer;
}
.nav-options{
    display: flex;
    flex-direction: row;
    margin-left: 50%;
    margin-top: 2.9%;
}
.nav-btns{
    font-family: 'Fira Sans', sans-serif;
    border: none;
    background-color: antiquewhite;
    margin-left: 5%;
    width:200px;
    height:40px;
    font-size: 16px;
}
.loggedin{
    margin-left: 150%;
    margin-top: 25%;
    width:50px;
    height: 50px;
}
.logincontainer{
    width:100px;
    margin-top: 35%;
    margin-left: 70%;
    border: 1px, solid;
    height: 40px;
}
.loggedout{
    font-family: 'Fira Sans', sans-serif;
    text-decoration: none;
    color: black;
}
.loggedout :hover{
    text-decoration: underline, black;
}
/*landing page content styling*/
#landing-content-holder{
    background-image: url("./media/backgrounds/landing_page_bg.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    height: 860px;
}
#landing-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    -ms-transform: translateY(20%);
    transform: translateY(20%);
}
#landing-search-text{
    
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 20px;
}
.landing-text-input{
    font-family: 'Varela Round', sans-serif;
    background-color: antiquewhite;
    height:30px;
    border-top:none;
    border-right: none;
    border-bottom: none; 
    border-left: 2px, black;
    left: -10px;
    padding: 1%;
    font-size: 24px;;
}
* :focus{
    outline: none;
}
#landing-text-address{
    width:800px;
    border-left: none;
}
#landing-search-options{
    display:flex;
    flex-direction: row;
    margin-top: 2%;
}
.landing-select-option{
    font-family: 'Varela Round', sans-serif;
    margin-left: 2%;
    width:200px;
    height:50px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
}
#landing-search-range{
    display: flex;
    flex-direction: row;
    margin-top:2%;
}
.landing-range-options{
    font-family: 'Varela Round', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    margin-left: 2%;
    padding: 3%;
    border-radius: 20px;
}
#landing-sell-button{
    font-family: 'Fira Sans', sans-serif;
    margin-top: 15%;
    font-size: 48px;
    padding: .5%;
    background-color: #fccc34;
    color: black;
    border-radius: 20px;
    border: none;
}
/*contact us page styling*/
#ContactUsPage{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;
}
.contact-card{
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #fccc34;
    align-items: center;
    padding: 3%;
    margin-left: 5%;
}
.contact-card-image{
    width: 400px;
    height: 400px;
}

/*Add listing page styling*/
label{
    font-size: 24px;
    font-weight: bold;
}
#AddListingBody{
    font-family: 'Fira Sans', sans-serif;
    display:flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    border-radius: 30px;
    align-items: center;
    width: 70%;
    background-color: antiquewhite;
}
.al-section{
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    flex-direction: column;
    width: 80%;
}
#al-main-select{
    align-items: center;
    display:flex;
    flex-direction: column;
}

.addListing-text-input-r{
    float: right;
    margin-left:auto; 
}
.addListing-text-input-l{
    float: left;

}
.al-label{
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin-right: 1%;   
}
.al-input{
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #fccc34;
}
.al-input :focus{
    outline: none;
}
.al-select-option{
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    text-align: center;
}
.checkboxInput{
    margin-left: 2%;
    font-size: 20px;
}
.checkboxLabel{
    font-family: 'Varela Round', sans-serif;
    font-weight: normal;
    font-size: 20px
}
#al-submitButton{
    font-family: 'Fira Sans', sans-serif;
    margin: 5%;
    padding:1%;
    font-size: 20px;
    border: none;
    background-color: #fccc34;
    border-radius: 20px;
}
#al-submitButton :hover{
    background-color: antiquewhite;
}
/*Account information page style*/
#navigation{
    display: flex;
    flex-direction: column;
    width: 20%;
    float: left;
}
.info-page{
    float: right;
    width: 80%;
}
.info-nav-btns{
    font-family: 'Fira Sans', sans-serif;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    font-size: 24px;
    text-align: left;
    border: none;
    background-color: antiquewhite;
}
.Info-page-header{
    font-family: 'Fira Sans', sans-serif;
    font-size: 48px;
    margin-left: 5%;
    margin-top: 3%;
}
.listingCard{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: antiquewhite;
}
.listingImage{
    width: 300px;
    height: 200px;
}
.listingDetails{
    font-family: 'Varela Round', sans-serif;
    display:flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 2%;
}
.lsitingAddress{
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
}
.listingDescription{
    font-family: 'Varela Round', sans-serif;
    margin-top: 2%;
    margin-right: 2%;
}
.contactDetails{
    display: flex;
    flex-direction: row;
}
.c-phone{
    font-weight: bold;
    margin-left: 5%;
    margin-top: 1%;
}
.userDetail{
    margin-top: 5%;
    margin-left: 7%;
}
.detailTitle{
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
    font-weight: normal;
}
.actualdetail{
    font-family: 'Varela Round', sans-serif;
    margin-left: 2%;
    font-weight: normal;
    font-size: 24px;
}
.change-link{
    font-family: 'Varela Round', sans-serif;
    margin-left: 10%;
    color: blue;
    text-decoration: underline;
}