body {
    font-family: Arial;
}

.expert-list {
    width:60%;
    display:block;
}


.expert-panel{
    display: flex;
    flex-direction: column;
}

.expert-face {
    /* background-color:red; */
    /* display:inline-block; */
    width:220px;
    height:100%;
    margin:0px;
    width:auto;
}

.expert-desc-panel {
    background-color: #EDE8E8;
    /* display:inline-block; */
    width:75%;
    /* margin-left:20px; */
    margin-left:auto;
    right:0px;
    height:100%;
    border-radius:10px;
    overflow: hidden;
    /* padding: 20px; */
}

.expert-mask {
    display:inline-block;
    border-radius:50%;
    background-color:transparent;
    overflow:hidden;
    width:200px;
    height:200px;
    margin-left:10px;
    margin-top:5px;
    
}

.expert-name {
    margin-top:5px;
    text-align: center;
}

.expert-card {
    display: flex;
    flex-direction: row;
    width:100%;
    height:250px;
    /* background-color:blue; */
    margin-bottom:20px;
    /* overflow:hidden; */
}

.expert-img {
    width:100%;
    height:100%;
}

.expert-desc {
    margin-left:20px;
    margin-top:20px;
}

.expert-reviews {
    
    background-color:#CCC;
    height:2000px;
    width:40%;
}
