
body {
    /* remove that white border around the page */
    margin:0px;
    font-family:Arial;
}

.login-panel {
    position:relative;
    display:inline-block;
    float: right;
    background-color:black;
    border-radius: 30px;
    width:30%;
    height: 90%;
    right:3%;
    top:50%;
    transform: translate(0,-50%);
}

.login-panel-inner {
    display:block;
    margin:47px;
}

.login-panel-header {
    font-size:64px;
    color:#fccc34;
    text-align:center;
}

.login-bg {
    background-image: url("../media/backgrounds/login-background.png");
    background-size: cover;
    width:100%;
    height:100%;
    
}

.login-field {
    font-family: 'Varela Round', sans-serif;
    display:block;
    background-color:antiquewhite;
    color:black;
    border: none;
    border-bottom: 5px solid #fccc34;
    width:100%;
    height:68px;
    margin-bottom:42px;
    font-size:36px;
    padding-left:20px;
}

.login-field-error{
    border: 3px solid red;
}

.login-error-text {
    font-family: 'Varela Round', sans-serif;
    color: red;
}

.login-button {
    font-family: 'Varela Round', sans-serif;
    background-color:#fccc34;
    padding: 5%;
    border-radius: 20px;
    color:black;
    border:none;
    font-size:36px;
    width:45%;
}
#login-register-button{
    background-color: gray;
}

.login-button-container {
    display:flex;
    margin-left:.5%;
    margin-right:.5%;
    justify-content:space-between;
}

.login-field::placeholder {
    color:#333;
    opacity:1;
}
