body {
    margin:0px;
    bottom:0px;
    top: 0px;
    font-family:Arial;
}

.signup-panel {
    background-color: #FFF;
    width:600px;
    height:600px;
    
    /* position:absolute; */
    /* top:50%; */
    /* left:50%; */
    /* transform: translate(-50%,-50%); */

    position:absolute;
    /* top:50%; */
    left:50%;
    transform: translate(-50%,0);
    margin-top: 50px;
    
    padding:50px;
    border-radius: 16px;
    border: 1px solid #CCC;
}

.signup-fieldbox {
    width:50%;
    padding:5px;
    border-radius:5px;
    overflow: hidden;
    border: 1px solid #999;
    margin-bottom:30px;
    margin-top: 20px;
}

.signup-multi-fieldbox {
    display:flex;
}



.vr {
    border-right: 1px solid #CCC;
    margin-top:3px;
    margin-bottom:3px;
}

.signup-fieldbox hr {
    margin: 2px 4px 2px 4px;
    border-style: solid;
    border-width: 1px;
    border-bottom: 0px;
    border-color:#CCC;
}

.signup-fieldbox input {
    border: 0px;
    background-color: transparent;
    width:100%;
    font-size:12pt;
    margin:5px;
}

.signup-fieldbox input::placeholder {
    /* color:#CCC; */
    color:#999;
}

.signup-field input:focus::placeholder {
    color: #CCC;
}

.signup-field input:focus {
    border: 0px;
    outline: none;
}

.signup-field input:active {
    border: 0px;
    outline:none;
}

.signup-multi-fieldbox input {
    width:45%;
}

.signup-button {
    font-size:14pt;
    background-color: #FFF;
    border: 1px solid #999;
    color: #999;
    border-radius: 3px;
    padding: 10px;
    width:100px;
    
}

.signup-button:hover {
    background-color:#FAFAFA;
}

.signup-button:disabled {
    background-color:#DDD;
    color:#CCC;
    opacity: 50%;
}

.signup-button-confirm {
    font-size: 14pt;
    background-color: #68C;
    color:#FFF;
    border: 0px;
    padding:10px;
    width:100px;
    border-radius:3px;
}

.signup-button-confirm:hover {
    background-color: #46A;
}

.signup-nav {
    left:50px;
    right:50px;
    display:flex;
    flex-direction:row;
    /* width:100%; */
    width:auto;
    margin-top:auto;
    justify-content: space-between;

    position:absolute;
    /* left: 50px; */
    /* right: 50px; */
    
    bottom:50px;
}



.signup-error {
    border-bottom: 2px solid red;
}

.signup-pass-container {
    width:100%;
    display:flex;
}

#password {
    /* width:80%; */
}

.pass-vis-button {
    /* display:inline; */
    width:32px;
    height:32px;
    border:none;
    background-position: center;
    background-color: transparent;
    background-image: url("../media/icons/eye_on.png");
    background-size: 25px;
    background-repeat: no-repeat;
    filter:brightness(75%);
}

.pass-vis-button:hover {
    filter:brightness(60%);
}

/* .pass-vis-button-show { */
/*     background-image: url("../media/icons/eye_on.png"); */
/* } */
.pass-vis-button-hide {
    background-image: url("../media/icons/eye_off.png");
}

input:invalid {
    border:0;
    border-bottom:3px dashed red;
}

#signup-error {
    display:none;
    color:red;
    font-size:12px;
}

.sep {
}
